div.kineticjs-content {
  position: fixed;
  top: 0;
  left: 0;
}
div#colorpicker {
  position: fixed;
  top: 0px;
  left: 280px;
  width: 250px;
  height: 250px;
  z-index: 10000;
  -webkit-box-shadow: 3px 3px 5px #4a4a4a;
  -moz-box-shadow: 3px 3px 5px #4a4a4a;
  box-shadow: 3px 3px 5px #4a4a4a;
  display: none;
}

div#colorpicker canvas {
  border: 8px solid yellowgreen;
  border-radius: 4px;
}
