section#controls-menu header {
  position: fixed;
  top: 400px;
  left: -60px;
  transform: rotate(90deg);
  text-transform: uppercase;
}
section#controls-menu header a {
  text-decoration: none;
  background-color: #e6e6e6;
  padding: 5px 10px;
}
section#controls-menu div#button-controls {
  width: 160px;
  height: 540px;
  border: 1px solid #000;
  background-color: #e6e6e6;
  position: fixed;
  top: 100px;
  left: -165px;
}
section#controls-menu div#button-controls.hidden {
  display: none;
}
