section#controls-menu
    
    header
        position fixed
        top 400px
        left -60px
        transform: rotate(90deg)
        text-transform: uppercase

        a          
            text-decoration: none
            background-color: #E6E6E6
            padding 5px 10px

    div#button-controls
        width 240px
        height 540px
        border 1px solid black
        background-color rgba(222,222,222,0.5)
        position fixed
        top 100px
        left -240px

        &.hidden
            display none

        