section#controls-menu
    
    header
        position fixed
        top 240px
        left -60px
        transform: rotate(90deg)
        text-transform: uppercase

        a          
            text-decoration: none
            background-color: #E6E6E6
            padding 10px 15px
            border-top-left-radius: 15px
            border-top-right-radius: 15px     

    div#button-controls
        width 240px
        height 360px
        background-color #E6E6E6
        position fixed
        top 20px
        left -240px

        &.hidden
            display none

        