*
    padding 0
    margin auto
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

body

    div#root

        section#canvas-container
            border 1px solid rgba(0,0,0,0)

        section#layer-manager
            position fixed
            width 80px;
            height 300px
            top 30px
            left 30px 
            padding 10px
            border 1px solid black
            border-radius 10px
            text-align: center

            h2
                font-size: 16px
                font-weight normal

            a
                text-decoration none

                &:hover
                    text-decoration underline
            
            a#create-layer
                font-size: 22px
                color yellowgreen
            
            a#flatten-layers
                margin-bottom 5px
                color black

            ul
                list-style none
                height 70%
                width 90%
                overflow-y auto
                text-align left
                margin 10px 0 10px 0

                li
                    border-radius: 15px
                    text-align center
                    margin 5px 0px
                    padding 5px 5px

                    a
                        padding 5px 5px                        
                        line-height: 20px

                    a.list-item-remove-btn
                        color red
                        font-size: 22px

                    a.list-item-id
                        color black
                    
                    &.selected
                        background-color lighten( orange, 20)

                        &:hover
                            background-color lighten( orange, 30)
                        
        section#clear
            position fixed

            a#new-canvas-btn
                padding 15px 10px
                text-decoration: none
                background-color yellowgreen
                color white
                border-radius 100%
                font-size 18px

                &:hover
                    background-color lighten(yellowgreen, 10)

        section#ui
            position fixed
