* {
  padding: 0;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body div#root section#canvas-container {
  border: 1px solid rgba(0,0,0,0);
}
/**/
body div#root section#layer-manager {
  position: fixed;
  width: 80px;
  height: 300px;
  top: 30px;
  left: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 7px;
  text-align: center;
  box-shadow: 5px 5px 5px lightgrey;
  background-color: #F0F4F9;
}
body div#root section#layer-manager h2 {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 3px;
  color: gray;
}
body div#root section#layer-manager a {
  text-decoration: none;
}
body div#root section#layer-manager a#create-layer:hover {
  background-color: #00AFF0;
}
body div#root section#layer-manager section a#create-layer {
  font-size: 20px;
  margin: auto;
  padding: 0px 20px;
  padding-bottom: 2px;
  color: white;
  background-color: #1B95E0;
  border-radius: 15px;  
}
body div#root section#layer-manager a#flatten-layers {
  margin-bottom: 5px;
  color: grey;
}
body div#root section#layer-manager ul {
  list-style: none;
  height: 70%;
  width: 90%;
  overflow-y: auto;
  text-align: left;
  margin: 10px 0 10px 0;
}
body div#root section#layer-manager ul li {
  border-radius: 15px;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 5px;
}
body div#root section#layer-manager ul li a {
  padding: 5px 5px;
  line-height: 20px;
}
body div#root section#layer-manager ul li a.list-item-remove-btn {
  color: #f00;
  font-size: 22px;
}
body div#root section#layer-manager ul li a.list-item-id {
  color: #000;
}
body div#root section#layer-manager ul li.selected {
  background-color: #FCD116;
}
body div#root section#layer-manager ul li.selected:hover {
  background-color: #F7DD8F;
}
body div#root section#clear {
  position: fixed;
}

/*Buton new*/

body div#root section#clear a#new-canvas-btn {
  padding: 15px 10px;
  text-decoration: none;
  background-color: #55CAF5;
  color: #fff;
  border-radius: 100%;
  font-size: 18px;
}
body div#root section#clear a#new-canvas-btn:hover {
  background-color: #90DAF4;
}

/**/

body div#root section#ui {
  position: fixed;
}
body div#root section#shapes-menu {
  position: fixed;
  top: 400px;

}

/* This only applies to the UL with the buttons at the bottom of the screen*/
section#ui ul li {
    float: left;
    list-style-type: none;
}

.button-style {
    float: left;
    margin-left: 5px;
    background: #9acd32;
    background-image: -webkit-linear-gradient(top, #9acd32, #719425);
    background-image: -moz-linear-gradient(top, #9acd32, #719425);
    background-image: -ms-linear-gradient(top, #9acd32, #719425);
    background-image: -o-linear-gradient(top, #9acd32, #719425);
    background-image: linear-gradient(to bottom, #9acd32, #719425);
    -webkit-border-radius: 28%;
    -moz-border-radius: 28%;
  border-radius: 20px;
  text-shadow: 2px 2px 5px #000000;
  -webkit-box-shadow: 3px 3px 5px #4a4a4a;
  -moz-box-shadow: 3px 3px 5px #4a4a4a;
  box-shadow: 3px 3px 5px #4a4a4a;
  font-family: Georgia, inherit;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.button-style:hover {
    background: #aed75b;
    background-image: -webkit-linear-gradient(top, #aed75b, #bdde76);
    background-image: -moz-linear-gradient(top, #aed75b, #bdde76);
    background-image: -ms-linear-gradient(top, #aed75b, #bdde76);
    background-image: -o-linear-gradient(top, #aed75b, #bdde76);
    background-image: linear-gradient(to bottom, #aed75b, #bdde76);
    text-decoration: none;
    cursor: pointer;
}

