* {
  padding: 0;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body div#root section#canvas-container {
  border: 1px solid rgba(0,0,0,0);
}
body div#root section#layer-manager {
  position: fixed;
  width: 80px;
  height: 300px;
  top: 30px;
  left: 30px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}
body div#root section#layer-manager h2 {
  font-size: 16px;
  font-weight: normal;
}
body div#root section#layer-manager a {
  text-decoration: none;
}
body div#root section#layer-manager a:hover {
  text-decoration: underline;
}
body div#root section#layer-manager a#create-layer {
  font-size: 22px;
  color: #9acd32;
}
body div#root section#layer-manager a#flatten-layers {
  margin-bottom: 5px;
  color: #000;
}
body div#root section#layer-manager ul {
  list-style: none;
  height: 70%;
  width: 90%;
  overflow-y: auto;
  text-align: left;
  margin: 10px 0 10px 0;
}
body div#root section#layer-manager ul li {
  border-radius: 15px;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 5px;
}
body div#root section#layer-manager ul li a {
  padding: 5px 5px;
  line-height: 20px;
}
body div#root section#layer-manager ul li a.list-item-remove-btn {
  color: #f00;
  font-size: 22px;
}
body div#root section#layer-manager ul li a.list-item-id {
  color: #000;
}
body div#root section#layer-manager ul li.selected {
  background-color: #ffc966;
}
body div#root section#layer-manager ul li.selected:hover {
  background-color: #ffdb99;
}
body div#root section#clear {
  position: fixed;
}
body div#root section#clear a#new-canvas-btn {
  padding: 15px 10px;
  text-decoration: none;
  background-color: #9acd32;
  color: #fff;
  border-radius: 100%;
  font-size: 18px;
}
body div#root section#clear a#new-canvas-btn:hover {
  background-color: #aed75b;
}
body div#root section#ui {
  position: fixed;
}
