*
    padding 0
    margin auto

body

    div#root

        section#canvas-container
            border 1px solid black

        section#layer-manager
            position fixed
            top 30px
            left 30px 

            ul
                list-style none
                height 200px
                width 150px
                overflow-y auto

        section#ui
            position fixed
