#shape-controls
    position absolute
    display block
    width 195px
    height 120px
    top 50px
    left 50px
    border 1px solid black
    border-top-right-radius: 90px
    border-bottom-left-radius: 90px
    padding 5px
    
    a.btn-shape-control
        border 1px solid black
        width 30px
        height 30px
        text-decoration: none
        color black
        position absolute

        &#btn-down
            top 85px
            left 80px
        
        &#btn-up
            top 5px
            left 80px

        &#btn-left
            top 45px
            left 40px   

        &#btn-right
            top 45px
            left 120px 

        &#btn-rotate-clockwise
            top 85px
            left 160px         

        &#btn-rotate-counter-clockwise
            top 5px
            left 5px         